.nav{
    position:fixed;
    bottom : 0%;
    width : 100%;
    background-color: rgb(31, 31, 113);
    
}
.center{
    position :relative;
    left: 45%;
    color : white;
    max-height : 4%;
    padding-bottom : 1%;
    padding-top:1%;
}